In [71]:
empty_list = []
last_5_years = [2016 , 2017, 2018, 2019, 2020]
last_mix = [200, 2.25, "bitlabs", False, -2, 8+1, -2.0]

print("Length of empty_list var:", len(empty_list), empty_list)
print("Length of last 5 years:", len(last_5_years), last_5_years)

Length of empty_list var: 0 []
Length of last 5 years: 5 [2016, 2017, 2018, 2019, 2020]

In [75]:
print(list("bitlabs"))

['b', 'i', 't', 'l', 'a', 'b', 's']

In [82]:
my_grade_5_years = [80, 71, 75, 90, 72]
print("My grade last 5 years:", len(my_grade_5_years), my_grade_5_years)

My grade last 5 years: 5 [80, 71, 75, 90, 72]

In [76]:
less_than_ten = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
print("Numbers less than ten:", less_than_ten)

reverse_less_than_ten = sorted(less_than_ten, reverse=True)
print("Descending order:", reverse_less_than_ten)

text_bit = "bit"
text_bit_ten = text_bit.join(less_than_ten)
print(text_bit_ten)

Numbers less than ten: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
Descending order: ['9', '8', '7', '6', '5', '4', '3', '2', '1', '0']
0bit1bit2bit3bit4bit5bit6bit7bit8bit9

In [39]:
names = ["john", "Andrew", "Sebastian", "Josh"]
print(names)
print(names[0:4])
print(names[0: ])
print(names[-4: ])
print(names[-3: ])
print()
print(names[0:2])
print(names[0::2])

['john', 'Andrew', 'Sebastian', 'Josh']
['john', 'Andrew', 'Sebastian', 'Josh']
['john', 'Andrew', 'Sebastian', 'Josh']
['john', 'Andrew', 'Sebastian', 'Josh']
['Andrew', 'Sebastian', 'Josh']

['john', 'Andrew']
['john', 'Sebastian']

In [94]:
#INDEXINF AND SLICING#

random_dates = ['June 21, 2001', 'December 4, 2002', 'August 23, 2003',
                'March 29, 2004', 'August 1, 2005', 'July 22, 2006',
                'July 11, 2007', 'November 13, 2008', 'March 20, 2009',
                'March 9, 2010']

print("Tanggal dengan tahun genap:", random_dates[1: :2])
print("Tanggal dengan tahun ganjil:", random_dates[0: : 2])

Tanggal dengan tahun genap: ['December 4, 2002', 'March 29, 2004', 'July 22, 2006', 'November 13, 2008', 'March 9, 2010']
Tanggal dengan tahun ganjil: ['June 21, 2001', 'August 23, 2003', 'August 1, 2005', 'July 11, 2007', 'March 20, 2009']

In [61]:
first_quarter_months = ["januari", "februari", "march"]
print(first_quarter_months)

['januari', 'februari', 'march']

In [ ]:
set_is_unique = {1, 2, 3, 4 ,5, 1}
list_isnt_unique =

In [66]:
female_names = {"Sue", "Marry" , "Kate", "Lee"}
male_names = {"Eric", "Lee", "Tom", "Adam"}
print("female names:", female_names)
print("male names", male_names)

all_names = female_names.union(male_names)
print("all names:", all_names)

female names: {'Kate', 'Sue', 'Marry', 'Lee'}
male names {'Eric', 'Tom', 'Adam', 'Lee'}
all names: {'Kate', 'Adam', 'Tom', 'Sue', 'Eric', 'Marry', 'Lee'}

In [68]:
names = ["john", "stuart", "kevin"]
wights = [166, 188, 172]

In [73]:
oneline = "masih sama " \
          "satu baris " \
          "di buku yang sama"
print(oneline)

masih sama satu baris di buku yang sama

In [79]:
money = 50000
comic_price = 20000

if money >= comic_price:
    print("Lets buy a comic")

Lets buy a comic

In [90]:
money = 10000
is_enough_money = money >= comic_price

if is_enough_money:
    print("lets buy a comic")

In [104]:
money = 100000

if money >= comic_price:
    print("lets buy a comic")
    print("bought one")
else:
    print("lets go home and colletc more money")
print("terima kasih sudah datang!")

lets buy a comic
bought one
terima kasih sudah datang!

In [ ]:
money = 50000
if (money >= 20000) and (money , 75000)
    print("lets buy a comic")
else:
    if (money >= 75000) and (money < 75000)
    else
        if money >= 100000

In [115]:
money = 200000

if (money >= 20000) and (money < 75000):
    print("Lets buy a comic")
elif (money >= 75000) and (money < 100000):
    print("lets buy a brand new novel")
elif (money >= 100000):
    print("yup! lets buy the expensive magazine!")
else:
    print("lets go home and colect more money")

yup! lets buy the expensive magazine!

In [134]:
money = 10000

if (money >= 20000) and (money < 50000):
    print("jangan ke cafe")
elif (money >= 50000) and (money < 90000):
    print("pergi ke angkringan")
elif (money > 100000):
    print("berangkut!")
else:
    print("pulang aja dah")

pulang aja dah

In [162]:
money = 100000
dugem = 50000

if (money < dugem):
    print("Berangkat")
else:
    print("Pulang aje dah")

Pulang aje dah

In [65]:
points = 50

if (points >= 1) and (points <= 200):
    print("untung ada elemennya!")
else:
    print(bool, ("Sayang sekali, tidak ada elemen disini"))

untung ada elemennya!

In [78]:
points = 190

if (points >= 1) and (points <= 50):
    print("I got wooden rabbit!")
elif (points >= 51) and (points <= 150):
    print("i gpt no prize, so sad")
elif (points >= 151) and (points <= 180):
    print(" i gor wafer-thin mint, wtf is this?")
elif (points >= 181) and (points <= 200):
    print("I got penguin, so lucky!")
else:
    print("sorry, no elemen in here")

I got penguin, so lucky!

In [45]:
height = {"Udin" : 160, "Adul" :167, "Tatang" : 175}
print(height)
print(height, type(height))

{'Udin': 160, 'Adul': 167, 'Tatang': 175}
{'Udin': 160, 'Adul': 167, 'Tatang': 175} <class 'dict'>

In [47]:
print(height["Udin"])
print(height["Adul"])
print(height["Tatang"])

160
167
175

In [63]:
population = {"Jakarta" : 20.8, "Surabaya" : 18.2, "Bandung" : 15.1, "Semarang" : 12.3}

functioanl_dict = dict(Jakarta=20.8, Surabaya=18.2, Bandung=15.1, Semarang=12.3)

print(population)
print("Jakarta:", population["Jakarta"])
print("Surabaya:", population["Surabaya"])
print("Bandung:", population["Bandung"])
print("Semarang:", population["Semarang"])

{'Jakarta': 20.8, 'Surabaya': 18.2, 'Bandung': 15.1, 'Semarang': 12.3}
Jakarta: 20.8
Surabaya: 18.2
Bandung: 15.1
Semarang: 12.3

In [118]:
#MENDEFINISIKAN SET DENGAN {}#
male_names = {"Tile", "Blek", "Dio", "Arip", "Egol", "Kana"}
female_names = {"Ami", "Angela", "Rafaela", "Selena", "Miya", "Kana"}

print("Male Names:", male_names)
print("Female Names", female_names)

all_names = female_names.union(male_names)
print("All Names:", all_names)

print("Male & Female Names:", female_names.intersection(female_names, male_names))

only_males = male_names.difference(female_names)
only_females = female_names.difference(male_names)
print("only females name:", only_females)
print("only male names", only_males)

Male Names: {'Blek', 'Arip', 'Kana', 'Egol', 'Tile', 'Dio'}
Female Names {'Rafaela', 'Miya', 'Angela', 'Kana', 'Selena', 'Ami'}
All Names: {'Rafaela', 'Miya', 'Angela', 'Selena', 'Ami', 'Blek', 'Arip', 'Kana', 'Egol', 'Tile', 'Dio'}
Male & Female Names: {'Kana'}
only females name: {'Rafaela', 'Miya', 'Angela', 'Selena', 'Ami'}
only male names {'Blek', 'Arip', 'Egol', 'Tile', 'Dio'}

In [7]:
ids = "DSCA0012120"
batch_prefix = "DSCA00121"
if batch_prefix in ids:
    print("Found {} in . {} is valid!".format(batch_prefix, ids, ids))
else:
    print("Not found {}. {} is not valid!".format(batch_prefix, ids))

Found DSCA00121 in . DSCA0012120 is valid!

In [8]:
#WHILE#

names = ["Blek", "Arip", "Kana", "Egol", "Tile", "Dio"]
num_names = len(names)
idx = 0

while idx < num_names:
    print("Name:", names[idx])
    idx +=1

Name: Blek
Name: Arip
Name: Kana
Name: Egol
Name: Tile
Name: Dio

In [ ]:
char_limit = 150
headlines = ["Pemprov DKI Perpanjang PPKM Mikro hingga 14 Juni",
             "Manchester City Dekati Sergio Ramos",
             "8 Juta Dosis Vaksin Sinovac Tiba di Tanah Air",
             "10 Potret Kece Tatjana Saphira Berkacamata, Stylish Banget!",]
long_headlines = " ".join(headlines)[:char_limit]
print(long_headlines)

index = 0
new_long_headlines = ""

while index < len(headlines):
    print("Headlines:", headlines[index])
    index += 1

In [ ]:
for name in names:
    print(name)

In [ ]:
purchased_product = {"computer": 3, "chesees": 10, "dog kennels": 5, "bananas": 20}